// Fontes
$fontePrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundoPrincipal:#f5f6fa;
$corDeFundocabecalho: #182C61;
$corDeFundoBotoes: #44bd32;
$corDeTextoPrincipal:#01a3a4;
$corDeTextoSecundaria:#00d2d3;
$corDeTextoTerciaria:#fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;